packages:
  yum:
    libjpeg-turbo-devel: []
    postgresql95-devel: []

commands:
  01_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs --enablerepo=epel'
  02_npm_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
    command: 'yum install -y npm --enablerepo=epel'
  03_node_update:
    cwd: /tmp
    test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
    command: 'npm install -g n && n stable'
  04_node_link:
    cwd: /tmp
    command: 'sudo ln -sf /usr/local/n/versions/node/7.8.0/bin/node /usr/bin/node'

container_commands:
  01_npm_build:
    command: 'npm install && npm run prod'