<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset-context/cssreset-context-min.css">
    <style>
      .example-enter {
        opacity: 0.01;
      }

      .example-enter.example-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
      }

      .example-leave {
        opacity: 1;
      }

      .example-leave.example-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
      }

      a:link
      {
          color: black; 
      }

      span.button:hover, a.button:hover
      {
        text-decoration: underline;
      }
    </style>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  </head>
  <body style="margin: 0;">
    <main class="container">
      <section data-section="{{page}}" data-debug="{{debug}}"></section>
    </main>
    <script async src="{{
      url_for('static', filename='js/main.bundle.js')
    }}"></script>
  </body>
</html>
